@import '../base/variable';

.blob{
    height: 40vh;
    width: 45vw;
    background-color: $light-orange;
    border-radius: 75px;
    transform: rotate(-23deg);
    position: absolute;
    left: -170px;
    bottom: 100px;
}