//colors
$gray: #263238;
$black: #000000!default;
$primary-orange: #FF3D00 !default;
$medium-orange:#FFD180;
$light-orange: #FFCCBC;
$extra-light-orange: #FFF3E0;
// font-family: 'Arapey', serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Sriracha', cursive;


//fonts
$font1: 'Francois One', sans-serif;
$font2: 'Karla', sans-serif;

$link-color: #ffffff;
$max-width: 1650px;
